# node and NPM
npm-debug.log
node_modules
..bfg-report

# swap files
*~
*.swp



env.sh
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
.ipynb_checkpoints

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/tmp*

# OS X garbage
.DS_Store

# Debian things
debian/reproducible-experiment-platform
debian/files
*.substvars
*.debhelper.log
week01_intro/Homework1.zip
week01_intro/lunar_lander_agent.pkl
week01_intro/lunar_lander_continuous_agent.pkl
week01_intro/s50.png
week01_intro/s100.png
week01_intro/s250.png
week01_intro/s500.png
week01_intro/taxi_agent.pkl
week01_intro/taxi.png
week01_intro/Homework1/lunar_lander_agent.pkl
week01_intro/Homework1/lunar_lander_continuous_agent.pkl
week01_intro/Homework1/taxi_agent.pkl
week04_approx_rl/last_state_dict.pt
week04_approx_rl/runs/events.out.tfevents.1775126652.eliyashev-MS-7B48.8932.0
week04_approx_rl/runs/events.out.tfevents.1775127217.eliyashev-MS-7B48.15037.0
week04_approx_rl/runs/events.out.tfevents.1775130195.eliyashev-MS-7B48.18894.0
week04_approx_rl/videos/rl-video-episode-0.mp4
week04_approx_rl/videos/rl-video-episode-1.mp4
week04_approx_rl/videos/rl-video-episode-2.mp4
week04_approx_rl/videos/rl-video-episode-3.mp4
week04_approx_rl/videos/rl-video-episode-4.mp4
week04_approx_rl/videos/rl-video-episode-5.mp4
week04_approx_rl/videos/rl-video-episode-6.mp4
week04_approx_rl/videos/rl-video-episode-7.mp4
week04_approx_rl/videos/rl-video-episode-8.mp4
week04_approx_rl/videos/rl-video-episode-9.mp4
week04_approx_rl/videos/rl-video-episode-10.mp4
week04_approx_rl/videos/rl-video-episode-11.mp4
week04_approx_rl/videos/rl-video-episode-12.mp4
week04_approx_rl/videos/rl-video-episode-13.mp4
week04_approx_rl/videos/rl-video-episode-14.mp4
week04_approx_rl/videos/rl-video-episode-15.mp4
week04_approx_rl/videos/rl-video-episode-16.mp4
week04_approx_rl/videos/rl-video-episode-17.mp4
week04_approx_rl/videos/rl-video-episode-18.mp4
week04_approx_rl/videos/rl-video-episode-19.mp4
week04_approx_rl/videos/rl-video-episode-20.mp4
week04_approx_rl/videos/rl-video-episode-21.mp4
week04_approx_rl/videos/rl-video-episode-22.mp4
week04_approx_rl/videos/rl-video-episode-23.mp4
week04_approx_rl/videos/rl-video-episode-24.mp4
week04_approx_rl/videos/rl-video-episode-25.mp4
week04_approx_rl/videos/rl-video-episode-26.mp4
week04_approx_rl/videos/rl-video-episode-27.mp4
week04_approx_rl/videos/rl-video-episode-28.mp4
week04_approx_rl/videos/rl-video-episode-29.mp4
week04_approx_rl/videos/rl-video-episode-30.mp4
week04_approx_rl/videos/rl-video-episode-31.mp4
week04_approx_rl/videos/rl-video-episode-32.mp4
week04_approx_rl/videos/rl-video-episode-33.mp4
week04_approx_rl/videos/rl-video-episode-34.mp4
week04_approx_rl/videos/rl-video-episode-35.mp4
week04_approx_rl/videos/rl-video-episode-36.mp4
week04_approx_rl/videos/rl-video-episode-37.mp4
week04_approx_rl/videos/rl-video-episode-38.mp4
week04_approx_rl/videos/rl-video-episode-39.mp4
week04_approx_rl/videos/rl-video-episode-40.mp4
week04_approx_rl/videos/rl-video-episode-41.mp4
week04_approx_rl/videos/rl-video-episode-42.mp4
week04_approx_rl/videos/rl-video-episode-43.mp4
week04_approx_rl/videos/rl-video-episode-44.mp4
week04_approx_rl/videos/rl-video-episode-45.mp4
week04_approx_rl/videos/rl-video-episode-46.mp4
week04_approx_rl/videos/rl-video-episode-47.mp4
week04_approx_rl/videos/rl-video-episode-48.mp4
week04_approx_rl/videos/rl-video-episode-49.mp4
